button {
    font-size: 20px;
    border-radius: 5px;
    background-color: #7066e0;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 12px;
    cursor: pointer;
}



